<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Madhu</title>
    <link rel="stylesheet" href="{%static 'css/demo.css'%}"
  </head>
  <body>
    <h1>welcome to madhu News portal</h1>
    <img
      src="{% static 'images/Madhu@.jpg'%}"
      heght="200px"
      width="200px"
      alt="madhu"
    />
    <ul>
      <li><a href="Movies">Movies information</a></li>
      <li><a href="Sports">Sports information</a></li>
      <li><a href="Politics">politics information</a></li>
    </ul>
  </body>
</html>
